<!DOCTYPE html>
<!-- Demo Copyright (C) 2015-2017 Kibble Games Inc in partnership with Vancouver Film School -->
<html ng-app="app">
	<head>
        <title>App!</title>
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

        <meta name="description" content="Angular App">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">

    </head>

   	<body ng-controller="AppController as app">
        <div class="wrapper">
            <div>
                <h1 id="title">{{app.vm.title}}</h1>
                <h3>by {{app.vm.author}}</h3>
            </div>
            <div id="app-area">
                <div id="sidebar" width="30%">
                    <pg-timer></pg-timer>
                    <pg-menu></pg-menu>
                </div>

                <div class="current-screen" width="65%">
                    <div id="screen" class="app-screen border" >

                        <!-- UI Module View Routing dynamically loads partial views here -->
                        <div ui-view></div>

                    </div>
                </div>
                <div class='clear'></div>
            </div>

        </div>

        <section id="scripts">
            <!-- Load all the Angular components here, we assume they will load 1.4.7-->
            <script src="//code.angularjs.org/1.6.2/angular.js"></script>
            <script src="//code.angularjs.org/1.6.2/angular-resource.js"></script>
            <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>

            <script type="module" src="app/main.js"></script>
        </section>
    </body>
</html>
