<!-- Demo Copyright (C) 2018 Kibble Games Inc in partnership with Vancouver Film School -->
<section id="home-area" class="row">
    <span class='title'>Admin</span>
    <div class='host wrapper'>
   
    </div>
</section>
