<!-- Demo Copyright (C) 2018 Kibble Games Inc in partnership with Vancouver Film School -->
<section id="home-area" class="row">
    <span class='title'>Host</span>
    <questions>  </questions>
    <div class='host wrapper'>
    </div>
</section>
