<!-- Demo Copyright (C) 2015 Kibble Games Inc in partnership with Vancouver Film School -->
<section id="welcome">
    <div id="login-server" class="dialog">
        <h3>Welcome! Please Login!</h3>
        <form ng-submit="$ctrl.authenticate(user)" ng-model-options="{debounce:500}">

            <input class="input login username" type="text" placeholder="nickname" ng-model="user.nickname"/>
            <br />

            <span id="logon-container" ng-if="$ctrl.vm.status=='off'">
                <input class="input login submit" type="submit" placeholder="Login!" />
            </span>
            <span id="logout-container" ng-if="$ctrl.vm.status=='on'">
                <input class="input login submit" type="button" placeholder="Logout" ng-click="$ctrl.logoff()"/>Logout</button>
            </span>
        </form>

        <div>
        Logged {{$ctrl.vm.status}} <span ng-if="$ctrl.vm.status=='on'"> as {{$ctrl.vm.nickname}} id: {{$ctrl.vm.id}}</span>
        </div>


        <div id="debug-data">
            <pre>form   = {{user|json}}</pre>
            <pre>master = {{$ctrl.vm.master|json}}</pre>
        </div>

    </div>
</section>
