<!-- Demo Copyright (C) 2018 Kibble Games Inc in partnership with Vancouver Film School -->
<section id="home-area" class="row">
    <span class='title'>Player</span>
    <div class='host wrapper'>
        <pg-ready></pg-ready>
    </div>
</section>