<div >
    <h1 class="title-qea gray-light-font"> {{ $ctrl.title }} </h1>
    <div class="no-border wrapper text-center answer-head gray-font">
        <span class="answer"> Answer </span>
        <span class="answer-text"> {{ $ctrl.answer }} </span>
    </div>
    <br/>
    <div class="question-box text-center gray-light-font">
        <p>
            {{ $ctrl.question }}
        </p>
    </div>
</div>
