<div id="timer-demo">
    <div id="timer">{{$ctrl.timer.time}} {{$ctrl.label}}</div>
    <button ng-click="$ctrl.startTimer()">Start</button>
    <button ng-click="$ctrl.stopTimer()">Stop</button>
</div>
