/*
 * CSS Styles for Risk Demo App
 *
 * Copyright 2014, Vancouver Film School
 *
 */

body {
    background-color:white;
}

body,div {
    margin:0;
    padding:0;
    border:none;
    color:#fff;
    font-family: "Helvetica";
}

div > * {
    margin: 10px;
}

div {
    position: relative;
    background-color: #999;
}

a {
    color:#FFF;
    text-decoration:underline;
}

button {
    border-radius: 2px;
    font-weight: 700;
    padding: 0.5em;
}

input {
    height: 1.4em;
}

.debug {
    border:1px dashed red;
    z-index: 6000;
}

.clear { clear: both; }

li.button {
    width:  20em;
}

.list-block {
    list-style: none;
    display: flex;
    width: 100%;
}

.list-block li {
    flex-grow: 1;

}

.menuitem {
    list-style-type: none;
    margin: 2px;
}

.menuitem button {
    min-width: 10em;
}

.dialog {
    width: 50%;
    box-shadow: 3px 3px 13px black;
    margin: 0 auto;
    padding: 1em;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: 1%;
    background-color: lightgrey;
    border: 1px solid black;
}

.sidebar {
    width: 20%;
    float:left;
    display: inline-block;
}

.current-screen {
    width: 65%;
    margin-left: 25%;
}

.app-screen {
    position: relative;
    margin: 0 auto;
}

.simple-form { }

.border {
    padding: 2px;
    border: 1px solid black;
}

.bevel {
    border-top: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
    border-right: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
}

#app-area {
    min-height: 720px;
}

#home-area {
    padding-top:  0em;
}


/* Question and Answers Styles */

@font-face {
  font-family: 'Gyparody', sans-serif;
  src:  url('/../fonts/gyparody.ttf') format('ttf')
}

.title-qea {
    font-family: 'Anton';
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}

.question-box {
    border: 3px rgb(211, 211, 211) solid;
    padding: 2rem;
    font-size: 1.5rem;
}

.gray-font {
    color: rgb(153, 153, 153);
}

.gray-light-font {
    color: rgb(211, 211, 211);
}

.answer-head {
    padding: 1rem;
    font-family: 'Roboto';
}

.no-border {
    border: none;
}

.text-center {
    text-align: center;
}

.answer {
    font-size: 1.5rem;
    font-weight: 900;
}


.answer-text {
    font-size: 1.5rem;
    font-weight: 300;
}
